{
    "presets": [
        [
          "@babel/preset-env",{}
        ]
    ],

    "plugins": [
        [
            "module-resolver", {
                "root": ["./src"],
                "alias": {
                    "Db": "./src/db"
                }
            }
        ]
    ],
    "sourceMaps": true
 } 